extends layout

block content

  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1(id="titleText") Diary
    br 
    hr
    
  form(id= "addForm")
    a(href= "/", id= "backButton", value= "x") x
    br
    textarea(id= "addText", placeholder= "HJÄLP", maxlength="40")
    p(type="submit" id="addButton")
      img(id="saveLogo",src="images/save.png", href= "/add")   

  script(src="/javascripts/add.js")