extends layout

block content

  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1(id="titleText") Diary
    br 
    hr
    
  form(id= "addForm")
    a(href= "/", id= "backButton", value= "x") 
      img(id="xLogo",src="images/x.png", href= "/add")
    br
    textarea(id= "addText", placeholder= "Write something...", maxlength="40")
    input(type="radio", id="star", name="star", value="star")
    label(for="star")
      img(id="favChoice",src="images/star.png", href= "/add")
    p(type="submit" id="addButton")
      img(id="saveLogo",src="images/save.png", href= "/add")   

  script(src="/javascripts/add.js")