extends layout

block content

  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1(id="titleText") Diary
    br 
    hr

  form(id= "addForm")
    textarea(id= "addText", placeholder= "HJÄLP", maxlength="40")
    p(type="submit" id="addButton") Add 
    
  
  ul#log

  a(href= "/add", id= "EntryButton") jjjjjj

  script(src="/javascripts/log.js")