extends layout

block content

  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1(id="titleText") Diary
    br 
    hr
    
  form(id= "addForm")
    p(id="confirmDel") Are you sure?
    a(href= "/", id= "noDelete", value= "x", onclick="delete()") 
      img(id="xLogo",src="images/x.png", href= "/add")
    a(type="submit" id="yesDelete")
      img(id="saveLogo",src="images/save.png", href= "/add", onclick="home()")   

  script(src="/javascripts/delete.js")