extends layout

block content

  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    p(id="accountName")
    h1(id="titleText") Diary
    a(href= "/account", id= "accountButton") 
      img(id="accountLogo",src="images/account.png", href= "/add")
    br 
    hr
    


  a(href= "/", id= "EntryButton")  
    img(id="writeLogo",src="images/write.png", href= "/add")
    

  a(href="/favorites" id= "allLink") 
    img(id="allLogo",src="images/all.png", href= "/add")

  ul#log

  script(src="/javascripts/filter.js")