extends layout

block content


  div(id="header")
    img(id="addLogo",src="images/logo.png", href= "/add") 
    h1(id="titleText") Diary
    br 
    hr
        
    div(id="accountBox")
        p(id="accountInfo") Choose an account
        a(href="/?=User1" id="account1") User1
        a(href="/?=User2" id="account2") User2
        a(href="/?=User3" id="account3") User3