body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F8F8;
  color: black;
}

a {
  color: #000000;
  text-decoration: none;
}

hr{
  margin-top:13%;
  height:1px;
  background-color: black;
}

#header{
  background-color: #F8F8F8;
  width: 100%;
  margin-left: -6%;
  margin-top: -7%;
  padding:0% 0% 0% 0%;
  position: fixed;
}

#addLogo{
  width:8%;
  padding:5% 5.5% 3% 2%;
  float:right;
}

#titleText{
  font-size: 6vw;
  margin-top:4.8%;
  font-family: 'Clicker Script';
  float:right;
}

#accountBox{
 
}

#account{
  
}

#addForm{
  background-color: #3D3D3D;
  width: 103%;
  margin-left: -4%;
  padding:5% 2% 5% 3%;
  border-radius:20px;
  margin-top: 30%;
}

#addText{
  width: 98%;
  margin:0 auto;
  height: 10vw;
  font-size: 3vw;
}

#addButton{
  font-size:5vw;
}

#log{
  margin-top: 5%;
}

#backlogObj{
  background-color: #eee;
  width: 100%;
  margin-left: -5%;
  padding:3% 3% 3% 3%;
  border-radius:20px;
  margin-top: 3%;
}

#ListText{
  font-size: 2.5vw;
}

#ListDate{
  font-size: 2.5vw;
}