body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F8F8;
  color: black;
}

a {
  color: #000000;
  text-decoration: none;
}

hr{
  margin-top:15.1%;
  margin-left: 5.5%;
  height:1px;
  background-color: black;
  width:90%;
}

#header{
  background-color: #F8F8F8;
  width: 100%;
  margin-left: -6%;
  margin-top: -7%;
  position: fixed;
}

#addLogo{
  margin-top: 1.5%;
  width:10%;
  padding:5% 5.5% 3% 2%;
  float:right;
}

#titleText{
  font-size: 8vw;
  margin-top:6%;
  font-family: 'Clicker Script';
  float:right;
}

#accountBox{
 
}

#account{
  
}

#addForm{
  background-color: #3D3D3D;
  width: 95%;
  margin-left: 0%;
  padding:5% 2% 5% 3%;
  border-radius:20px;
  margin-top: 17%;
}

#addText{
  width: 98%;
  margin:0 auto;
  height: 7vw;
  font-size: 3vw;
}

#addButton{
  font-size:5vw;
}

#log{
  margin-top: 20%;
}

#backlogObj{
  background-color: #eee;
  width: 100%;
  margin-left: -5%;
  padding:3% 3% 3% 3%;
  border-radius:20px;
  margin-top: 3%;
}

#ListText{
  font-size: 2.5vw;
}

#ListDate{
  font-size: 1vw;
}
#writeLogo{
  width:22%;
  position: fixed;
  margin-left: 70%;
  margin-top: 145%;
}

#accountLogo{
  width:10%;
  position: fixed;
  margin-top: 6%;
  margin-left: 5.2%;
}